@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Inter, sans-serif;
    background: #e8e6df;
}

#root {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}
